@font-face {
  font-family: "Bebas";
  src: url("/fonts/bebasneueregular.woff2") format("woff2");
  src: url("/fonts/bebasneueregular.woff") format("woff"); }

.license-block {
  height: 352px;
  width: 362px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  margin-top: 200px;
  background-color: #F8F8F8;
  border: 6px solid #EBEBEB; }
  .license-block .license-plan-wrapper {
    padding: 16px; }
    .license-block .license-plan-wrapper .license-plan-item-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .license-block .license-plan-wrapper .license-plan-item-wrapper::active {
        background-color: red; }
      .license-block .license-plan-wrapper .license-plan-item-wrapper label.radio-label {
        font-family: 'Bebas', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #111111; }
        .license-block .license-plan-wrapper .license-plan-item-wrapper label.radio-label .license-input {
          display: none; }
        .license-block .license-plan-wrapper .license-plan-item-wrapper label.radio-label .license-radio {
          display: inline-block;
          border: 0.7px solid #5A61ED;
          width: 12px;
          height: 12px;
          position: relative;
          vertical-align: middle;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          margin-right: 6px;
          border-radius: 300px;
          background-color: #ffffff; }
          .license-block .license-plan-wrapper .license-plan-item-wrapper label.radio-label .license-radio::before {
            content: '';
            background: #5A61ED;
            width: 6px;
            height: 6px;
            opacity: 0;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 300px;
            -webkit-transform: translateX(-50%) translateY(-50%);
                -ms-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%); }
        .license-block .license-plan-wrapper .license-plan-item-wrapper label.radio-label .license-input:checked + .license-radio:before {
          opacity: 1; }
    .license-block .license-plan-wrapper .plan-active {
      border: 1px solid red; }
